body {
  background-color: #d9ecf2;
}
.Todo-List-App,
.title {
  text-align: center;
  color: #fcbf1e;
}

.Todo-List-App {
  background-color: #ecf4f3;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10%;
  padding: 2rem;
}

#todo_form input {
  background-color: white;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
  margin: 20px;
  font-size: 18px;
}

#todo_form input::placeholder {
  color: aquamarine;
}

#todo_form input:focus {
  outline: none;
}

#todo_form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #fcbf1e;
  cursor: pointer;
}
.Todo-List-App,
.list {
  list-style-type: none;
}
.list ul::li {
  width: 30px;
}
